{% extends 'account/base.html' %}
{% load static %}

{% block content %}

<!--<h1> THIS IS CONTENT AREA</h1>-->
<!-- Static Header -->
			<div class="header-text">
				<div class="header-text-inner">
					<h1>We Love Design</h1>
					<p>Lorem ipsum dolor sit amet adipisicing</p>
				</div>
			</div><!-- /header-text -->
			<!---Scroller--->
			<div id="scroll-page-content">
				<a href="#page-content" class="scroller">
					<div class="scroller-button">
						<i class="fa fa-angle-down"></i>
					</div>
				</a>
			</div>
		</div>
	</header>
	<!-- /Section: intro -->


	<!--////////////////////////////////////Container-->
	<section id="page-content" class="index-page">

		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>Featured Works</h2>
					<hr class="line">
					<div class="intro">Our Collection Of Modern Photography. See also our portfolio on <a href="#">Behance</a></div>
				</div>
				<div class="content no-gutter wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
					<div class="portfolio-box col-lg-3 col-md-4 col-xs-6">
						<div class="portfolio-box-inner">
							<img src="images/1.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-description">
									<h3 class="product-name">Project Name</h3>
									<p class="product-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi vulputate est sed faucibus elit.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-box col-lg-3 col-md-4 col-xs-6">
						<div class="portfolio-box-inner">
							<img src="images/2.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-description">
									<h3 class="product-name">Project Name</h3>
									<p class="product-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi vulputate est sed faucibus elit.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-box col-lg-3 col-md-4 col-xs-6">
						<div class="portfolio-box-inner">
							<img src="images/3.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-description">
									<h3 class="product-name">Project Name</h3>
									<p class="product-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi vulputate est sed faucibus elit.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-box col-lg-3 col-md-4 col-xs-6">
						<div class="portfolio-box-inner">
							<img src="images/4.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-description">
									<h3 class="product-name">Project Name</h3>
									<p class="product-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi vulputate est sed faucibus elit.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-box col-lg-3 col-md-4 col-xs-6">
						<div class="portfolio-box-inner">
							<img src="images/5.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-description">
									<h3 class="product-name">Project Name</h3>
									<p class="product-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi vulputate est sed faucibus elit.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-box col-lg-3 col-md-4 col-xs-6">
						<div class="portfolio-box-inner">
							<img src="images/6.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-description">
									<h3 class="product-name">Project Name</h3>
									<p class="product-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi vulputate est sed faucibus elit.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-box col-lg-3 col-md-4 col-xs-6">
						<div class="portfolio-box-inner">
							<img src="images/7.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-description">
									<h3 class="product-name">Project Name</h3>
									<p class="product-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi vulputate est sed faucibus elit.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="portfolio-box col-lg-3 col-md-4 col-xs-6">
						<div class="portfolio-box-inner">
							<img src="images/8.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-description">
									<h3 class="product-name">Project Name</h3>
									<p class="product-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi vulputate est sed faucibus elit.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center"><a href="archive.html" class="btn btn-skin">See All</a></div>
			</div>
		</section>

		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2 box-style-2">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="ft-item wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="row">
								<div class="col-md-1">
									<div class="ft-icon">
										<i class="fa fa-angle-right"></i>
									</div>
								</div>
								<div class="col-md-9">
									<h5>Mobile First</h5>
									<p>Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Metus elit vehicula dui. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum</p>
								</div>
							</div>
						</div>
						<div class="ft-item wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="row">
								<div class="col-md-1">
									<div class="ft-icon">
										<i class="fa fa-angle-right"></i>
									</div>
								</div>
								<div class="col-md-9">
									<h5>Clean & Creative</h5>
									<p>Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Metus elit vehicula dui. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum</p>
								</div>
							</div>
						</div>
						<div class="ft-item wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="row">
								<div class="col-md-1">
									<div class="ft-icon">
										<i class="fa fa-angle-right"></i>
									</div>
								</div>
								<div class="col-md-9">
									<h5>User Friendly</h5>
									<p>Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Metus elit vehicula dui. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ft-b-image wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
							<img src="images/iphonex_mockup.png" class="img-responsive"/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ////////////Content Box 03 -->
		<section class="box-content box-3">
			<div class="container">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>Our Services</h2>
					<hr class="line">
					<div class="intro">We Are Absolutely Passionate About Simple Yet Sophisticated User Experience That We, And Our Client, Are Very Prood Of</div>
				</div>
				<div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
					<div class="row">
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div class="box-item">
								<img src="images/photo-camera.png" class="img-responsive icon"/>
								<h3>Photography</h3>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div class="box-item">
								<img src="images/social.png" class="img-responsive icon"/>
								<h3>Social</h3>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div class="box-item">
								<img src="images/seo.png" class="img-responsive icon"/>
								<h3>SEO</h3>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div class="box-item">
								<img src="images/design.png" class="img-responsive icon"/>
								<h3>Design</h3>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div class="box-item">
								<img src="images/ux.png" class="img-responsive icon"/>
								<h3>UX</h3>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div class="box-item">
								<img src="images/credit-card.png" class="img-responsive icon"/>
								<h3>Ecommerce</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ////////////Content Box 04 -->
		<section class="box-content box-4 box-style-2">
			<div class="container">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>What Our Clients Say</h2>
					<hr class="line">
					<div class="intro">Lastest Project We Working On</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner1.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner2.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner3.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner1.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner3.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="images/partner2.png" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ////////////Content Box 05 -->
		<section class="box-content box-5 box-style-3">
			<div class="container">
				<div class="row">
					<div class="box-item wow fadeInDown" data-wow-delay=".1s" data-wow-duration="1s">
						<blockquote><p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p></blockquote>
					</div>
				</div>
			</div>
		</section>

		<!-- ////////////Content Box 06 -->
		<section class="box-content box-6">
			<div class="container">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>Lastest From Blog</h2>
					<hr class="line">
					<div class="intro">Lastest Project We Working On</div>
				</div>
				<div class="content">
					<div id="owl-blog" class="owl-carousel">
						<div class="item">
							<div class="box-item">
								<img src="images/10.jpg" class="img-responsive"/>
								<div class="content">
									<h3><a href="single.html">Planning Our Honeymoon</a></h3>
									<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis at diam.</p>
									<span>MAY 21, 2017 BY VAFPRESS</span><br>
									<a class="btn btn-skin" href="single.html">Read More</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="box-item">
								<img src="images/11.jpg" class="img-responsive"/>
								<div class="content">
									<h3><a href="single.html">Brainstorming Wedding Ideas</a></h3>
									<p>Suspendisse porttitor. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis, viverra feugiat ipsum volutpat vitae. Fusce justo turpis, sodales sed placerat non, suscipit at diam.</p>
									<span>MAY 21, 2017 BY VAFPRESS</span><br>
									<a class="btn btn-skin" href="single.html">Read More</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="box-item">
								<img src="images/12.jpg" class="img-responsive"/>
								<div class="content">
									<h3><a href="single.html">Planning Our Honeymoon</a></h3>
									<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis at diam.</p>
									<span>MAY 21, 2017 BY VAFPRESS</span><br>
									<a class="btn btn-skin" href="single.html">Read More</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="box-item">
								<img src="images/13.jpg" class="img-responsive"/>
								<div class="content">
									<h3><a href="single.html">Planning Our Honeymoon</a></h3>
									<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis at diam.</p>
									<span>MAY 21, 2017 BY VAFPRESS</span><br>
									<a class="btn btn-skin" href="single.html">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ////////////Content Box 07 -->
		<section class="box-content box-7 box-style-2">
			<div class="container">
				<div class="heading wow fadeInDown" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>Our Branding</h2>
					<hr class="line">
					<div class="intro">Lastest Project We Working On</div>
				</div>
				<div class="content wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<div id="owl-branding" class="owl-carousel">
						<div class="item">
							<img src="images/partner-1.png" class="img-responsive"/>
						</div>
						<div class="item">
							<img src="images/partner-2.png" class="img-responsive"/>
						</div>
						<div class="item">
							<img src="images/partner-3.png" class="img-responsive"/>
						</div>
						<div class="item">
							<img src="images/partner-4.png" class="img-responsive"/>
						</div>
						<div class="item">
							<img src="images/partner-5.png" class="img-responsive"/>
						</div>
						<div class="item">
							<img src="images/partner-6.png" class="img-responsive"/>
						</div>
					</div>
				</div>
			</div>
		</section>

	</section>

{% endblock content %}